<h1>
  Task: <%= @todo.task %>
</h1>

<h2>
  Completed: <%= @todo.completed ? 'Yes' : 'No' %>
</h2>

<p>
  Owner: <%= @todo.owner %>
</p>

<p>
  Description: <%= @todo.description %>
</p>

<hr />

<div class='action-buttons'>
  <%= link_to 'Edit', edit_todo_path(@todo) %>
  <%= link_to 'Delete', todo_path(@todo), 
      method: :delete,
      data: { confirm: 'Really Delete?' } %>
  <%= link_to 'Task List', todos_path %>
</div>